{{!< center-container }}

{{> error-snippet}}

<table class="table table-striped">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Actual URL</th>
            <th>Shortened URL</th>
        </tr>
    </thead>
    <tbody>
        {{#each urls}}
            <tr>
                <td>
                  {{ inc @index }}
                </td>
                <td>
                  <a href="{{ this.longUrl }}">
                    {{ this.longUrl }}
                  </a>
                </td>
                <td>
                  <a href="/urls/{{ this.codeActual }}">
                    cb.lk/{{ this.codeActual }}
                  </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>