{{!< center-container }}

{{> error-snippet}}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item {{#unless pagination.hasPrev}}disabled{{/unless}}">
            <a class="page-link" href="?page={{ dec pagination.page }}" tabindex="-1">Previous</a>
        </li>
        {{#range pagination.pageCount}}
            <li class="page-item"><a class="page-link" href="?page={{ counter }}">{{ counter }}</a></li>
        {{/range}}
        <li class="page-item {{#unless pagination.hasNext}}disabled{{/unless}}">
            <a class="page-link" href="?page={{ inc pagination.page }}">Next</a>
        </li>
    </ul>
</nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Actual URL</th>
            <th>Shortened URL</th>
        </tr>
    </thead>
    <tbody>
        {{#each urls}}
            <tr>
                <td>
                  {{ inc @index }}
                </td>
                <td>
                  <a href="{{ this.longUrl }}">
                    {{ this.longUrl }}
                  </a>
                </td>
                <td>
                  <a href="/urls/{{ this.codeActual }}">
                    cb.lk/{{ this.codeActual }}
                  </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>