{{!< center-container }}

{{> error-snippet}}

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
            {{#ifeq user.role 'admin'}}
                <li class="page-item">
                    <a href="?all=true" class="page-link">All</a>
                </li>
            {{/ifeq}}
            <li class="page-item {{#unless pagination.hasPrev}}disabled{{/unless}}">
                <a class="page-link" href="{{ pagination.prevUrl }}" tabindex="-1">Previous</a>
            </li>
            {{#each pageList}}
                <li class="page-item"><a class="page-link" href="{{ this }}">{{ inc @index }}</a></li>
            {{/each}}
            <li class="page-item {{#unless pagination.hasNext}}disabled{{/unless}}">
                <a class="page-link" href="{{ pagination.nextUrl }}">Next</a>
            </li>
        </ul>
    </nav>

<table class="table table-striped">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Actual URL</th>
            <th>Shortened URL</th>
            <th>Hits 🎯</th>
        </tr>
    </thead>
    <tbody>
        {{#each urls}}
            <tr>
                <td>
                  {{ inc @index }}
                </td>
                <td>
                  <a href="{{ this.longUrl }}">
                    {{ this.longUrl }} 
                  </a>
                  {{#if this.private }} 
                    (Private 🤫)
                  {{/if}}
                </td>
                <td>
                  <a href="/urls/{{ this.codeActual }}">
                    cb.lk/{{ this.codeActual }}
                  </a>
                </td>
                <td>
                    {{this.hits}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>