{{!< center-container }}

<div class="row">
  <div class="col"></div>
  <div class="col-sm-10 col-md-8 col-lg-6">
    <div class="card text-center">
      <div class="card-body">
        <h1 class="card-title font-weight-light">
          <a href="https://cb.lk/{{url.codeActual}}">
            cb.lk/{{ url.codeActual }}
          </a>
        </h1>
        <p class="card-subtitle text-muted">
          {{#if url.private }}
            <span class="badge badge-pill badge-warning">
              Private
            </span>
            <br>
          {{/if}}
          Right-click and select "Copy Link Location" to copy short link
        </p>
        <div class="card-text mt-4" id="view">
          Original URL
          <br>
          <a href="{{url.longUrl}}">
            {{url.longUrl}}
          </a>
          <br>
          {{> error-snippet}}
          {{#if editable}}
            <button class="btn btn-primary mt-4" onclick="editMode()">Edit ✏️</button>
          {{/if}}
        </div>
        {{#if editable}}
          <div class="card-text mt-4" id="edit">
            <form action="/urls/{{url.codeActual}}" method="post">
              <label class="ml-2" for="longUrl">URL to shorten</label>
              <input type="url" class="form-control" id="longUrl"
                     name="longUrl" required value="{{url.longUrl}}"
                     aria-required="true" aria-describedby="longUrlHelp"
                     placeholder="eg. https://codingblocks.com/classroom-courses">
              <small id="longUrlHelp" class="form-text text-muted">We shorten only http and https links</small>
              {{#ifcontains "admin,employee" user.role}}
                <div class="form-group">
                  <input type="checkbox" class="form-check-input" id="isPrivate"
                  name="private" {{#if url.private}}checked{{/if}}/>
                  <label class="form-check-label" for="isPrivate">Private</label>
                </div>
              {{/ifcontains}}
              <button class="btn btn-primary mt-4" type="submit">Save 💾</button>
              <button type="button" class="btn btn-primary mt-4" onclick="viewMode()">Cancel 🚫</button>
            </form>
          </div>
        {{/if}}
      </div>
      <div class="card-footer">
        <div class="card-subtitle">
            <span class="text-muted h4">
              Total Link Clicks :
            </span>
          <span class="h2">
            {{ url.hits }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>

<script>
  const view = $("#view").show();
  const edit = $("#edit").hide();
  function editMode() {
    view.hide();
    edit.show();
  }

  function viewMode() {
    edit.hide();
    view.show();
  }
</script>
